body {
    font-size: 16px;
    font-family: 'DMSans';
    font-weight: normal;
}

.mainContainer {
    padding: 0 20vw 0 20vw;
}

section {
    margin: 2rem 0 6rem 0;
}

footer {
    background-color: #2D2D2F;
    align-items: center;
    padding: 4rem 20vw 4rem 20vw;
}



/* Text Elements */
h1 {
    font-family: 'LemonMilk';
    font-weight: 900;
}

h2 {
    font-family: 'LemonMilk';
    font-weight: bold;
}

h3 {
    font-family: 'LemonMilk';
    font-weight: bold;
}

h4 {
    font-weight: 900;
}



/* Interactive Elements */
.hyperlink {
    text-decoration: none;
    font-weight: bold;
    color: #48F0D2;
}

.buttonMain {
    display: inline-block;
    font-family: 'LemonMilk';
    font-size: 1.2rem;
    background-color: #FFFF54;
    color: #2635BA;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 1.3rem;
    margin-top: 1rem;
    
}

/* Portfolio Items */
.portfolioItem {
    margin: auto;
    margin-top: 3rem;
    width: 50rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #FFFFFF;
    border-radius: .5rem;
    /*drop shadow learned here: https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow */
    filter: drop-shadow(0 .5rem 1rem rgba(0, 0, 0, 0.4));
}

.portfolioItemImage {
    background-image: url(../images/tgThumbnail.png);
    background-size: cover;
    flex: 1.8;
    border-radius: .5rem 0 0 .5rem;
}

.portfolioItemText {
    flex: 1;
    padding: 3rem 2rem 3rem 2rem;
}

.portfolioItemCategory {
    color: #588486;
}

.portfolioItemTitle {
    font-family: 'LemonMilk';
    font-weight: 900;
    font-size: 1.5rem;
    color: #2635BA;
    margin-top: 1.8rem;
    margin-bottom: 0;
}

.portfolioItemDescription {
    color: #2D2D2F;
    line-height: 140%;
    margin-top: .4rem;
}