body {
    background-color: #FFFFFF;
}

h1 {
    color: #2635BA;
}

h2 {
    color: #2635BA;
}

h3 {
    color: #2D2D2F;
    margin-bottom: 0.3rem;
}

h4 {
    color: #2D2D2F;
}

p {
    color: #2D2D2F;
    margin-top: 0;
}

.quoteText {
    font-size: 1.25rem;
    
}

.quoteAuthor {
    color: #2635BA;
}

.imageSpan {
    padding: 0; 
    margin: 0;
}

.singleQuote {
    margin: 2rem;
}

.blockItem{
    background-color: #2635BA;
    border-radius: .5rem;
    padding: 1rem;
}
.blockItem p {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
}


